$headerBg: url("../img/header_background_v2.jpg") no-repeat top/cover;
$mainFont: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$buttonFont: normal 300 14px/20px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$headerColor: #ff5722;
$buttonBg: #0401ac;
$buttonColor: #ffffff;
$mainBg: #EFEFEF;
$borderColor:#cfd8dc;
$articleBg: #ffffff;
$mainColor: #757575;
$artTitleColor: #607d8b;
$artDescrColor: #cfd8dc;