$headerBg: url("../img/header_background_v1.jpg") no-repeat top/cover;
$mainFont: normal 300 14px/20px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$buttonFont: normal 300 14px/20px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$headerColor: #ffffff;
$buttonBg: #01ACAC;
$buttonColor: #ffffff;
$mainBg: #ffffff;
$borderColor:#607D8B;
$articleBg: #EFEFEF;
$mainColor: #000000;
$artTitleColor: #0097A7;
$artDescrColor: #E90303;
